/*CSS SELECTOR STYLES*/
.tooSmall {
  font-size: 20px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: white;
  align-self: center;
  font-size: 25px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  align-self: center;
  font-weight: 100;
  font-size: 20px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0px 0px 0px 0px !important;
  font-size: 20px;
  max-width: 245px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 10px;
  font-size: 15px;
}

span {
  font-size: 12px;
}

header {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 100vw;
  padding: 10px;
}

footer {
  display: flex;
  min-width: 100vw;
  flex-direction: row;
  justify-content: center;
  color: rgb(136, 136, 136);
  font-family: "Montserrat", sans-serif;
  height: fit-content;
  position: relative;
  bottom: 5vmin;
  margin-top: 10px;
}

form > button {
  background-color: rgb(3, 3, 3);
  color: white;
  border-radius: 3px;
  border: none;
  margin: 0 0 0 20px;
  align-self: center;
  min-height: 40px;
}

ul {
  padding: 0px !important;
}

.font300,
input,
select,
option,
label,
button {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  padding: 0px;
}

.searchBarSelOpt {
  min-width: 308px;
}
.searchBarInp {
  min-width: 300px;
}

select,
option {
  height: 40px;
  align-self: center;
}

input {
  margin-top: 20px;
  height: 36.03px;
}

/* CLASS BASED STYLES */
/* SCROLL TITLE STYLE */
.ulScroll {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  float: right;
  margin: 0;
  padding: 0;
  -webkit-animation: scrollUp 4s ease-in-out infinite normal;
  animation: scrollUp 4s ease-in-out infinite normal;
}

.liScroll {
  opacity: 1;
  height: 20px;
  padding: 10px;
  list-style: none;
}
/*LOGO STYLE*/
.logo {
  width: fit-content;
  height: 2.5em;
  border-radius: 50%;
  background-color: black;
  padding: 10px;
  display: inline-flex;
  margin: 0 30px 0 0;
  box-shadow: -15px 10px 3px rgb(143, 143, 143);
  align-self: center;
}

/* GENERAL STYLES */
.spcBtw {
  justify-content: space-between;
}
.centerVself {
  align-self: center;
}

.centerH {
  justify-content: center;
}

.g1 {
  flex-grow: 1;
}

.g2 {
  flex-grow: 2;
}

.g3 {
  flex-grow: 3;
}

/*FILTER STYLES*/

.catFilters {
  visibility: visible;
}

.searchFilters {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

.filterList,
.catList {
  list-style: none;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
}

.filterOption {
  margin: 0 10px 0 10px;
  align-self: center;
}

.filterSelect {
  max-width: 60%;
}

.filterItemChecks {
  display: flex;
  flex-direction: row;
}

.filterItemSelects {
  display: flex;
  flex-direction: column;
}

/*FAVORTIE BAR STYLES*/

.mainImg,
.favImg {
  align-self: center;
  margin: 0 15px 15px 15px;
  box-shadow: -2px 5px 10px rgb(104, 104, 104);
}
.favImg {
  height: 125px;
  width: 125px;
}

.mainImg {
  height: 150px;
  width: 150px;
}

.favDltBtn {
  width: 100%;
}

.favItem {
  background-color: rgb(230, 230, 230);
  padding: 20px;
  border-radius: 10px;
  margin: 0 0 20px 0;
}

.favContainer {
  background: rgb(236, 236, 236);
  background: linear-gradient(
    180deg,
    rgba(236, 236, 236, 1) 0%,
    rgba(218, 218, 218, 1) 26%,
    rgba(171, 171, 171, 1) 100%
  );
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
  height: 80vh;
}

.favContContainer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: rgb(187, 187, 187);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.favContContainer {
  right: 0;
}

.favDltBtn {
  padding: 3px;
  background-color: rgb(255, 89, 89);
  border: none;
  border-radius: 5px;
  margin-left: 30px;
  max-height: fit-content;
}

.placeHolderFav {
  background-color: rgb(59, 59, 59);
  color: white;
  height: fit-content;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  font-weight: 400;
  text-align: center;
  justify-self: center;
}

.favCloseBtn,
.catCloseBtn {
  color: black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 40px;
  top: 0;
  position: absolute;
}
.favCloseBtn {
  left: 0;
}

.catMenuBtn,
.favMenuBtn {
  visibility: visible;
  padding: 10px;
}

/*CATEGORY STYLES*/
/* catList are paired with filter bar styles (above)*/
/* catMenuBtn style is paired with favorite bar styles (above)*/
.catButton {
  height: 40px;
  min-width: 100%;
}
.catCloseBtn {
  right: 0;
}
.catItem {
  min-width: 75%;
}

.divScroll {
  overflow: scroll;
  height: 40vh;
}

.catContContainer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background: rgb(236, 236, 236);
  background-color: rgb(187, 187, 187);
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
}
.catListDiv {
  height: fit-content;
  overflow: hidden;
  max-width: 65%;
  position: relative;
  align-self: center;
}
.catMessage {
  max-width: 65%;
  height: fit-content;
  overflow: hidden;
  font-size: 0.75em;
  text-align: center;
}

.catContContainer {
  left: 0;
}

/*RESULTS & SEARCH AREA STYLES*/
.titleStarsPrice{
  display: flex;
  flex-direction: column;
}

.singleResultChild {
  display: flex;
  flex-direction: column;
}

.menuBtns {
  margin: 0 0 20px 0;
  visibility: visible;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  justify-content: space-between;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  align-self: center;
}

.allContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  justify-content: center;
  min-width: 80vw;
}

.stars {
  font-size: 15px;
  margin: 0 0 0 20px;
  color: black;
}

.singleResult {
  min-width: 80vw;
  max-width: 80vw;
  padding: 15px;
  background-color: rgb(207, 207, 207);
  border-radius: 2px;
  box-shadow: -2px 5px 5px black;
  margin: 0 0 20px 0;
}

.spotBody {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  height: 0px;
  overflow: hidden;

}
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(138, 78, 78);
}

a:active {
  color: brown;
}

a:visited {
  color: brown;
}
.categories,
.fav {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(53, 53, 53);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  margin: 10px 10px 0 0;
}

.fav {
  height: 35px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}
/* ANIMATION STYLES */

.catListDiv::before {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  background: linear-gradient(
    180deg,
    rgb(187, 187, 187),
    rgba(255, 142, 113, 0)
  );
}
.catListDiv::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 142, 113, 0),
    rgb(187, 187, 187)
  );
}

/* FADE IN ANIMATION CLASS */
.box::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: "";
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, #ffffff, rgba(255, 142, 113, 0));
}

.box::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: "";
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 142, 113, 0), #ffffff);
}

.box {
  overflow: hidden;
  position: relative;
  height: 40px;
  align-self: center;
}

.fade-in-image {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@-webkit-keyframes scrollUp {
  from {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  to {
    -webkit-transform: translateY(-87.3%);
    transform: translateY(-87.3%);
  }
}

@keyframes scrollUp {
  from {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  to {
    -webkit-transform: translateY(-87.3%);
    transform: translateY(-87.3%);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* LOADING */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(0, 0, 0);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* MEDIA QUERIES */
@media all and (min-width: 1460px) {
  .favContContainer {
    max-width: 25%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 70vh;
    background-color: initial;
    top: initial;
    padding-top: 0px;
    z-index: 0;
    height: 60vh;
  }
  .favMenuBtn,
  .menuBtns {
    visibility: hidden;
  }
  .resultsContainer {
    margin: 0px 40px;
    flex-grow: 3;
  }

  .favCloseBtn {
    visibility: hidden;
  }
}

@media all and (min-width: 1200px) {
  .divScroll,
  .catListDiv {
    height: 60vh;
  }

  .catContContainer {
    max-width: 25%;
    min-width: 25%;
    flex-grow: 1;
    justify-content: initial;
    min-height: 60vh;
    background-color: initial;
    top: initial;
    padding-top: 0px;
    z-index: 0;
  }
  .catMenuBtn {
    visibility: hidden;
  }
  .resultsContainer {
    flex-grow: 2;
  }

  .catListDiv::before {
    background: linear-gradient(180deg, #ffffff, rgba(255, 142, 113, 0));
  }
  .catListDiv::after {
    background: linear-gradient(180deg, rgba(255, 142, 113, 0), #ffffff);
  }

  .catCloseBtn {
    visibility: hidden;
  }

  .allContentContainer {
    justify-content: inherit;
  }
}

@media all and (min-width: 620px) {
  .singleResultChild {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  header {
    display: flex;
    flex-direction: row;
    padding: 30px;
    font-size: 35px;
    height: 4em;
  }

  .logo {
    align-self: initial;
  }

  .ulScroll,
  h2 {
    font-size: 35px;
  }

  h1 {
    font-size: 40px;
  }
}

@media all and (min-width: 720px) {
  .titleStarsPrice{
    display: flex;
    flex-direction: row;
  }

  .catFilters {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
  }

  .searchFilters {
    visibility: visible;
    height: fit-content;
    overflow: unset;
  }
  .filterItem {
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
  }
  .filterItemChecks,
  .filterItemSelects,
  .filterContainer,
  .inputField {
    flex-direction: row;
  }

  .inputField {
    display: flex;
  }
  input {
    margin: 0 0 0 20px;
  }

  select,
  option,
  input,
  .searchBarSelOpt,
  .searchBarInp {
    min-width: unset;
  }

  h3 {
    font-size: 25px;
  }

  span,
  p,
  .stars {
    font-size: 20px;
  }
}

@media all and (min-width: 875px) {
  .singleResult {
    min-width: 614px;
    max-width: 650px;
  }
}

@media all and (min-width: 290px){
  .tooSmall{
    visibility: hidden;
    overflow: hidden;
    min-height: 0px;
    max-height: 0px;
    min-width: 0px;
    z-index: 0;
  }
  .tooSmallT{
    height: 0px;
    width:0px;
    overflow: hidden;
  }

  .spotBody{
    visibility: visible;
    height: fit-content;
    overflow: hidden;
  }

};
