/*CSS SELECTOR STYLES*/

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: white;
  align-self: center;
  font-size: 40px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  align-self: center;
  font-size: 35px;
  font-weight: 100;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 10px 20px 0 0;
}

img {
  height: 150px;
  width: 150px;
  margin: 0 15px 15px 15px;
  box-shadow: -2px 5px 10px rgb(104, 104, 104);
}

header {
  height: fit-content;
  padding: 30px;
  display: inline-flex;
  position: sticky;
}

div > form {
  margin: 30px 0 0 0;
}

footer {
  display: flex;
  justify-content: center;
  color: rgb(136, 136, 136);
  font-family: "Montserrat", sans-serif;
}

input {
  margin: 0 0 0 20px;
}

form > button {
  background-color: rgb(3, 3, 3);
  color: white;
  border-radius: 3px;
  border: none;
  margin: 0 0 0 20px;
}

button{
  height: 40px;
  align-self: center;
}
/* CLASS BASED STYLES */

.ulSlideIn {
  -webkit-animation: 1s linear 0s 1 normal slidein;
  animation: 1s linear 0s 1 normal slidein;
}

.ulSlideOut{
  -webkit-animation: 1s linear 0s 1 reverse slidein;
  animation: 1s linear 0s 1 reverse slidein;
  visibility: hidden;
}

.filterDiv{
  overflow: hidden;
}

.ulScroll {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 100;
  float: right;
  margin: 0;
  padding: 0;
  -webkit-animation: scrollUp 4s ease-in-out infinite normal;
  animation: scrollUp 4s ease-in-out infinite normal;
}

.liScroll {
  opacity: 1;
  height: 20px;
  padding: 10px;
  list-style: none;
}
.logo {
  width: fit-content;
  height: 4em;
  border-radius: 50%;
  background-color: black;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  margin: 0 30px 0 0;
  box-shadow: -15px 10px 3px rgb(143, 143, 143);
}

.spcBtw {
  justify-content: space-between;
}
.centerVself {
  align-self: center;
}

.centerH {
  justify-content: center;
}

.g1 {
  flex-grow: 1;
}

.g2 {
  flex-grow: 2;
}

.g3 {
  flex-grow: 3;
}

.filterList {
  list-style: none;
}

.filterItem {
  display: inline;
}

.filterOption {
  margin: 0 20px 20px 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
.font400,
input,
select,
option {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

input,
select,
option {
  height: 35px;
}
.formContainer {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

.stars {
  margin: 0 0 0 20px;
  color: black;
}

.singleResult {
  min-width: 614px;
  max-width: 650px;
  padding: 15px;
  background-color: rgb(207, 207, 207);
  border-radius: 2px;
  box-shadow: -2px 5px 5px black;
  margin: 0 0 20px 0;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 40px;
  justify-content: center;
  padding: 10px;
  max-width: 875px;
  align-self: center;
}

.spotBody {
  display: block;
}
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(138, 78, 78);
}

a:active {
  color: brown;
}

a:visited {
  color: brown;
}
.categories,
.fav {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(53, 53, 53);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  margin: 10px 10px 0 0;
}

.fav {
  height: 35px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}
/* ANIMATION STYLES */
/* FADE IN ANIMATION CLASS */
.box::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: "";
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, #ffffff, rgba(255, 142, 113, 0));
}

.box::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: "";
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 142, 113, 0), #ffffff);
}

.box {
  overflow: hidden;
  position: relative;
  height: 40px;
  align-self: center;
}
@-webkit-keyframes scrollUp {
  from {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  to {
    -webkit-transform: translateY(-85%);
    transform: translateY(-85%);
  }
}

@keyframes scrollUp {
  from {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  to {
    -webkit-transform: translateY(-87.3%);
    transform: translateY(-87.3%);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.fade-in-image {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* LOADING */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(0, 0, 0);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
